.bank-card-icon-1, .bank-card-icon-bank-101 {
    background-position: -215px -50px
}

.bank-card-icon-2, .bank-card-icon-bank-301 {
    background-position: -50px -98px
}

.bank-card-icon-3, .bank-card-icon-bank-401 {
    background-position: -50px -50px
}

.bank-card-icon-4, .bank-card-icon-bank-1201 {
    background-position: -215px -146px
}

.bank-card-icon-5, .bank-card-icon-bank-u2 {
    background-position: -1535px -242px
}

.bank-card-icon-6, .bank-card-icon-bank-1101 {
    background-position: -50px -290px
}

.bank-card-icon-7, .bank-card-icon-bank-501 {
    background-position: -710px -290px
}

.bank-card-icon-8, .bank-card-icon-bank-701 {
    background-position: -1205px -194px
}

.bank-card-icon-9, .bank-card-icon-bank-u4 {
    background-position: -50px -194px
}

.bank-card-icon-10, .bank-card-icon-bank-u3 {
    background-position: -1370px -194px
}

.bank-card-icon-11, .bank-card-icon-bank-201 {
    background-position: -50px -338px
}

.bank-card-icon-12, .bank-card-icon-bank-u6 {
    background-position: -875px -50px
}

.bank-card-icon-13, .bank-card-icon-bank-u9 {
    background-position: -50px -242px
}

.bank-card-icon-14 {
    background-position: -1040px -98px
}

.bank-card-icon-15, .bank-card-icon-bank-u5 {
    background-position: -1535px -290px
}

.bank-card-icon-16 {
    background-position: -875px -98px
}

.bank-card-icon-17, .bank-card-icon-bank-601 {
    background-position: -710px -242px
}

.bank-card-icon-18, .bank-card-icon-bank-u1 {
    background-position: -875px -146px
}

.bank-card-icon-19, .bank-card-icon-bank-801 {
    background-position: -1370px -290px
}

.bank-card-icon-20 {
    background-position: -1370px -146px
}

.bank-card-icon-21 {
    background-position: -875px -290px
}

.bank-card-icon-22 {
    background-position: -1040px -242px
}

.bank-card-icon-23 {
    background-position: -875px -242px
}

.bank-card-icon-24 {
    background-position: -875px -194px
}

.bank-card-icon-25 {
    background-position: -380px -50px
}

.bank-card-icon-26 {
    background-position: -380px -98px
}

.bank-card-icon-27 {
    background-position: -710px -98px
}

.bank-card-icon-28 {
    background-position: -1535px -98px
}

.bank-card-icon-29 {
    background-position: -215px -98px
}

.bank-card-icon-30 {
    background-position: -380px -146px
}

.bank-card-icon-31 {
    background-position: -215px -194px
}

.bank-card-icon-32 {
    background-position: -1040px -146px
}

.bank-card-icon-33 {
    background-position: -545px -242px
}

.bank-card-icon-34 {
    background-position: -215px -242px
}

.bank-card-icon-35 {
    background-position: -545px -194px
}

.bank-card-icon-36 {
    background-position: -1040px -194px
}

.bank-card-icon-37 {
    background-position: -215px -290px
}

.bank-card-icon-38 {
    background-position: -215px -338px
}

.bank-card-icon-39 {
    background-position: -1205px -242px
}

.bank-card-icon-40 {
    background-position: -1535px -194px
}

.bank-card-icon-41 {
    background-position: -1205px -290px
}

.bank-card-icon-42 {
    background-position: -710px -338px
}

.bank-card-icon-43 {
    background-position: -1370px -242px
}

.bank-card-icon-44 {
    background-position: -1040px -290px
}

.bank-card-icon-45 {
    background-position: -1535px -50px
}

.bank-card-icon-46 {
    background-position: -1040px -50px
}

.bank-card-icon-47 {
    background-position: -875px -338px
}

.bank-card-icon-48 {
    background-position: -545px -146px
}

.bank-card-icon-49, .bank-card-icon-bank-u7 {
    background-position: -1205px -98px
}

.bank-card-icon-50 {
    background-position: -710px -50px
}

.bank-card-icon-51 {
    background-position: -545px -98px
}

.bank-card-icon-52 {
    background-position: -1370px -98px
}

.bank-card-icon-53 {
    background-position: -545px -50px
}

.bank-card-icon-54 {
    background-position: -380px -194px
}

.bank-card-icon-55 {
    background-position: -710px -146px
}

.bank-card-icon-56 {
    background-position: -1205px -146px
}

.bank-card-icon-57 {
    background-position: -710px -194px
}

.bank-card-icon-58 {
    background-position: -380px -242px
}

.bank-card-icon-59 {
    background-position: -545px -338px
}

.bank-card-icon-60 {
    background-position: -1370px -50px
}

.bank-card-icon-61 {
    background-position: -545px -290px
}

.bank-card-icon-62 {
    background-position: -380px -290px
}

.bank-card-icon-63 {
    background-position: -1205px -50px
}

.bank-card-icon-64 {
    background-position: -1535px -146px
}

.bank-card-icon-65 {
    background-position: -380px -338px
}

.bank-card-icon-66 {
    background-position: -50px -146px
}

.bank-card-icon-67, .bank-card-icon-bank-13 {
    background-position: -1040px -338px
}

.bank-card-icon-68, .bank-card-icon-bank-u8 {
    background-position: -1205px -338px
}

.bank-card-icon-69, .bank-card-icon-bank-u10 {
    background-position: -1370px -338px
}