html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, em, font, img, strong, b, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0 none;
    outline: 0;
    font-size: 100%;
    background: transparent
}

html, body, button, input, select, textarea {
    font: 14px/1.5 "Microsoft YaHei";
    outline: 0
}

ol, ul, li, dl {
    list-style: none
}

h1, h2, h3, h4, h5, h6 {
    font-size: 14px;
    font-weight: 400
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

a {
    color: #EE4C58;
    cursor: pointer;
    text-decoration: none
}

a:hover {
    text-decoration: none
}

img {
    -ms-interpolation-mode: bicubic
}

:focus {
    outline: 0
}

.clearfix:after {
    content: "\020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.clearfix {
    zoom: 1
}

.fl {
    float: left
}

.fr {
    float: right
}

.hidden {
    display: none
}

.channel-wrapper {
    max-width: 895px;
    *width: 895px
}

.ca-tabs-panel, .ca-tabs {
    min-width: 585px;
    *width: 590px
}

.ca-iframe {
    margin-left: 80px
}

.ca-tabs {
    background: #fff;
    font-size: 0;
    height: 34px;
    border-left: #d1d6de 1px solid;
    background-image: linear-gradient(to bottom, #fefefe 0, #f5f5f5 100%);
    background-repeat: repeat-x;
    background-color: #f9f9f9 \0;
    zoom: 1;
    z-index: 5;
    margin-left: 80px
}

.ca-tabs li {
    position: relative
}

.ca-tabs li {
    padding: 0 10px;
    _zoom: 1;
    font-size: 14px;
    letter-spacing: 0;
    word-spacing: 0;
    float: left;
    height: 31px;
    line-height: 31px;
    min-width: 80px;
    _width: 90px;
    text-align: center;
    border-top: #d1d6de 1px solid;
    border-right: #d1d6de 1px solid;
    border-bottom: #d1d6de 1px solid;
    cursor: pointer
}

.ca-tabs li.fn-more-pay {
    *z-index: 100;
    zoom: 1;
    min-width: 90px;
    *width: 100px
}

.ca-tabs .fn-more-pay-desc {
    min-width: 64px;
    display: inline-block
}

.ca-tabs .fn-more-pay-arrow {
    width: 10px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    background: url(../img/cashdesk-icon_3cde785.png) -148px 2px no-repeat
}

.ca-tabs li.fn-more-pay ul {
    border-left: 1px solid #d1d6de;
    border-right: 1px solid #d1d6de;
    display: none;
    position: absolute;
    width: 100%;
    top: 30px;
    left: -1px;
    z-index: 1000
}

.ca-tabs li.fn-more-pay ul li {
    border-top: 0;
    border-bottom: 1px solid #d1d6de;
    border-right: 0;
    background: #fff;
    height: 31px;
    line-height: 31px;
    float: none
}

.ca-tabs li.fn-more-pay ul li:hover {
    background-color: #EE4C58;
    color: #fff
}

.ca-tabs li.fn-more-pay ul li.disabled:hover {
    background-color: #fff;
    color: #b7b7b7
}

.ca-tabs li.fn-more-pay:hover {
    background-color: #fff
}

.ca-tabs li.current {
    border-bottom: 0;
    border-top: #EE4C58 3px solid;
    color: #EE4C58;
    font-weight: 700;
    background-color: #fff
}

.ca-tabs li.current ul {
    color: #484954;
    font-weight: 400
}

.ca-tabs li.disabled {
    color: #b7b7b7;
    cursor: default;
    background-image: -webkit-linear-gradient(top, #ececec 0, #e2e3e4 100%);
    background-image: linear-gradient(to bottom, #ececec 0, #e2e3e4 100%);
    background-repeat: repeat-x;
    zoom: 1;
    background-color: #ececec \0;
    *background-color: #ececec
}

.ca-tabs-panel {
    margin-top: 10px
}

.ca-form-option {
    font-family: "Microsoft YaHei"
}

.ca-tabs-panel ul.ca-form-option, .ca-tabs-panel .bank-tab-content, .easypay-options .add-card {
    margin-left: 80px;
    *margin-left: 0
}

#bankPay {
    *margin-left: 80px
}

.ca-tabs-panel-qrcode {
    position: relative
}

.ca-activity-desc {
    display: inline-block;
    margin-left: 20px;
    color: #fe6100
}

.ca-activity-icon {
    margin-top: -3px;
    vertical-align: middle
}

.ca-group-submit {
    margin: 20px 0 0 80px;
    position: relative
}

.ca-group-btn {
    margin-top: 20px;
    position: relative
}

.ca-group-back {
    margin: 10px 0 0 50px
}

.bind-card-list {
    margin-right: 10px;
    overflow: hidden;
    border-bottom: 1px dotted #ddd;
    max-width: 584px;
    *width: 584px
}

.bind-card {
    width: 100%;
    height: 50px;
    cursor: pointer;
    border-top: 1px dotted #ddd
}

.bind-card-inner {
    line-height: 45px;
    padding: 0 8px;
    border: 2px solid #fff;
    background: #fff
}

.bind-card.hover .bind-card-inner {
    border-color: #d0e7ff
}

.bind-card.selected, .bind-card.hover {
    border-color: #fff
}

.bind-card.selected .bind-card-inner {
    border-color: #157efb;
    background-color: #fff
}

.bind-card span, .bank-tab-nav span, .bind-card em {
    display: inline-block;
    vertical-align: middle;
    *display: inline;
    *zoom: 1
}

.easypay-options {
    margin-top: 10px
}

.easypay-options a {
    display: block;
    font-size: 12px;
    color: #EE4C58
}

.easypay-options .add-card {
    background: url(../img/cashdesk-icon_3cde785.png) -532px -136px no-repeat;
    padding: 7px 13px 6px 35px;
    border: 1px solid #e1e1e1;
    font-family: "Microsoft YaHei";
    font-size: 14px;
    color: gray
}

.easypay-options .add-card:hover {
    background-position: -532px -67px;
    color: #EE4C58
}

.radio {
    width: 14px;
    height: 14px;
    margin-right: 5px;
    background: url(../img/cashdesk-icon_3cde785.png) -443px -6px no-repeat;
    _position: relative;
    _top: 2px
}

.selected .radio, .selected.radio {
    background-position: -426px -6px
}

.bind-card-info span {
    margin-right: 6px
}

.bind-card .hint {
    padding: 0 2px;
    height: 18px;
    line-height: 18px
}

.bank-tab-nav li {
    _zoom: 1;
    font-size: 14px;
    letter-spacing: 0;
    word-spacing: 0;
    float: left;
    height: 24px;
    line-height: 24px;
    width: 109px;
    _width: 108px;
    text-align: center;
    cursor: pointer
}

.ca-group .ca-label, .ca-form-group .ca-label {
    vertical-align: middle;
    float: left;
    position: relative;
    text-align: right;
    line-height: 24px;
    margin-right: 10px;
    width: 70px;
    _zoom: 1;
    font-family: "Microsoft YaHei"
}

.ca-form-group {
    margin-bottom: 20px
}

.fn-subchannel {
    margin-bottom: 0
}

.ca-group .fn-pay {
    margin-top: 20px
}

.ca-group .icon-label {
    line-height: 34px;
    font-family: "Microsoft YaHei"
}

.ca-group span.ca-form-option {
    line-height: 28px;
    vertical-align: middle
}

.bind-card-inner .ca-form-option {
    padding-right: 5px
}

.ca-spec-num {
    display: inline-block;
    font-family: "Microsoft YaHei";
    font-weight: 700;
    color: #EE4C58;
    font-size: 20px;
    line-height: 25px;
    margin: 0 1px
}

.ca-unit {
    display: inline-block
}

.bind-card-inner .ca-spec-num {
    padding: 4px 0 7px
}

.bind-card-inner .ca-unit {
    line-height: 45px
}

.btn-primary, .btn-search {
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 16px;
    font-family: "Microsoft YaHei";
    font-weight: 700;
    border-radius: 4px;
    cursor: pointer;
    overflow: visible;
    display: inline-block;
    position: relative;
    zoom: 1;
    color: #fff;
    background: url(../img/cashdesk-icon_3cde785.png) -78px -150px no-repeat
}

/*.btn-primary:hover {*/
    /*background-position: -78px -68px*/
/*}*/

.ca-btn-loading {
    display: none;
    width: 16px;
    height: 16px;
    position: absolute;
    left: 15px;
    top: 18px;
    background: url(../img/loading.gif)
}

.ca-group-loading .ca-btn-loading {
    display: inline-block
}

.ca-group-loading .btn-primary:hover {
    background-position: -78px -150px
}

.ca-btnmsg-err {
    margin: 5px 0;
    display: block;
    font-size: 12px;
    padding-left: 18px;
    background: url(../img/cashdesk-icon_3cde785.png) -218px -33px no-repeat
}

.ca-group-submit .disabled, .ca-group-submit .disabled:hover {
    background-position: -78px -212px;
    cursor: default
}

.choose-list-icon li, .choose-list-bank li, .choose-list-txt li {
    float: left;
    margin: 1px 10px 10px 0
}

.choose-list-icon li, .choose-list-bank li, .choose-list-txt li {
    cursor: pointer;
    border: 1px solid #d1d6de
}

.choose-list-bank li:hover, .choose-list-icon li:hover, .choose-list-txt li:hover {
    border: #EE4C58 solid 1px;
    outline: #EE4C58 solid 1px
}

.choose-list-bank li.disabled:hover, .choose-list-icon li.disabled:hover, .choose-list-txt li.disabled:hover {
    border: 1px solid #d1d6de;
    outline: 0
}

.choose-list-bank li.selected, .choose-list-icon li.selected, .choose-list-txt li.selected {
    border-color: #fff;
    *border: #EE4C58 solid 1px
}

.choose-list-bank li.selected:hover, .choose-list-icon li.selected:hover, .choose-list-txt li.selected:hover {
    outline: 0
}

.choose-list-bank li.choose-other-bank {
    background: 0 0;
    color: #EE4C58;
    font-size: 14px
}

.bind-card-info .bank-icon, .choose-list-bank .bank-icon {
    display: block;
    width: 112px;
    height: 35px;
    cursor: pointer;
    background-image: url(../img/banklist.png);
    background-repeat: no-repeat
}

/*.bind-card-info .bank-icon {*/
    /*display: block;*/
    /*width: 146px;*/
    /*height: 34px;*/
    /*cursor: pointer;*/
    /*background-image: url(../img/banks.png);*/
    /*background-repeat: no-repeat*/
/*}*/

.bind-card-info .bank-icon {
    display: inline-block
}

.choose-list-bank li.selected:after, .choose-list-icon li.selected:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: url(../img/cashdesk-icon_3cde785.png) -272px -112px no-repeat transparent
}

.choose-list-bank li, .choose-list-icon li {
    width: 123px;
    _width: 123px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    position: relative
}

.choose-list-icon .option-icon {
    display: block;
    width: 112px;
    height: 35px;
    cursor: pointer;
    background-image: url(../img/other-options.jpg);
    background-repeat: no-repeat
}

/*.choose-list-icon .disabled .option-icon {*/
    /*background-image: url(/static/images/bank/other-options-disable.jpg)*/
/*}*/

.choose-list-txt li {
    position: relative;
    height: 30px;
    line-height: 30px;
    padding: 0;
    text-align: center;
    width: 82px
}

.choose-list-txt li.disabled {
    color: #b6b6bb;
    background: #f2f2f2;
    cursor: default
}

.choose-list-txt li > label {
    cursor: pointer
}

.choose-list-txt li.selected:after {
    content: '';
    display: block;
    position: absolute;
    width: 84px;
    height: 32px;
    left: 0;
    top: 0;
    background: url("../img/cashdesk-icon_3cde785.png") -272px -69px no-repeat transparent
}

.CLOUD-ICBC {
    background-position: -4px -2px
}

.CLOUD-CCB {
    background-position: -144px -2px
}

.CLOUD-ABC {
    background-position: -282px -2px
}

.CLOUD-BOC {
    background-position: 6px -49px
}

.CLOUD-PSBC {
    background-position: -283px -49px
}

.CLOUD-BOCM {
    background-position: -133px -49px
}

.CLOUD-CMB {
    background-position: -414px 0
}

.CLOUD-CEB {
    background-position: -423px -52px
}

.CLOUD-ECITIC {
    background-position: -417px -97px
}

.CLOUD-SPDB {
    background-position: -134px -145px
}

.CLOUD-CMBC {
    background-position: -282px -144px
}

.CLOUD-CIB {
    background-position: -143px -98px
}

.CLOUD-PAB {
    background-position: -265px -97px
}

.CLOUD-GDB {
    background-position: -4px -146px
}

.CLOUD-HXB {
    background-position: -284px -194px
}

.CLOUD-BCCB {
    background-position: -4px -194px
}

.CLOUD-EPC-BOC {
    background-position: 6px -49px
}

.CLOUD-EPC-ICBC {
    background-position: -4px -2px
}

.CLOUD-EPC-CCB {
    background-position: -144px -2px
}

.CLOUD-EPC-ABC {
    background-position: -282px -2px
}

.CLOUD-EPC-PSBC {
    background-position: -283px -49px
}

.CLOUD-EPC-BOCM {
    background-position: -133px -49px
}

.CLOUD-EPC-CMB {
    background-position: -414px 0
}

.CLOUD-EPC-CEB {
    background-position: -423px -52px
}

.CLOUD-EPC-ECITIC {
    background-position: -417px -97px
}

.CLOUD-EPC-SPDB {
    background-position: -134px -145px
}

.CLOUD-EPC-CMBC {
    background-position: -282px -144px
}

.CLOUD-EPC-CIB {
    background-position: -143px -98px
}

.CLOUD-EPC-PAB {
    background-position: -265px -97px
}

.CLOUD-EPC-GDB {
    background-position: -4px -146px
}

.CLOUD-EPC-HXB {
    background-position: -284px -194px
}

.CLOUD-EPC-BCCB {
    background-position: -4px -194px
}

.CLOUD-EPD-BOC {
    background-position: 6px -49px
}

.CLOUD-EPD-ICBC {
    background-position: -4px -2px
}

.CLOUD-EPD-CCB {
    background-position: -144px -2px
}

.CLOUD-EPD-ABC {
    background-position: -282px -2px
}

.CLOUD-EPD-PSBC {
    background-position: -283px -49px
}

.CLOUD-EPD-BOCM {
    background-position: -133px -49px
}

.CLOUD-EPD-CMB {
    background-position: -414px 0
}

.CLOUD-EPD-CEB {
    background-position: -423px -52px
}

.CLOUD-EPD-ECITIC {
    background-position: -417px -97px
}

.CLOUD-EPD-SPDB {
    background-position: -134px -145px
}

.CLOUD-EPD-CMBC {
    background-position: -282px -144px
}

.CLOUD-EPD-CIB {
    background-position: -143px -98px
}

.CLOUD-EPD-PAB {
    background-position: -265px -97px
}

.CLOUD-EPD-GDB {
    background-position: -4px -146px
}

.CLOUD-EPD-HXB {
    background-position: -284px -194px
}

.CLOUD-EPD-BCCB {
    background-position: -4px -194px
}

.CLOUD-PLATFORM-ALIPAY {
    background-position: -2px -808px
}

.CLOUD-SUPER-WECHAT-QR {
    background-position: -7px -1020px
}

.BAIFUBAO-AUTH-PAY {
    background-position: 0 -1081px
}

.gameyeepay-jw .option-icon {
    background-position: 7px -5px
}

.gameyeepay-sd .option-icon {
    background-position: 8px -341px
}

.gameyeepay-sh .option-icon {
    background-position: 8px -60px
}

.gameyeepay-zt .option-icon {
    background-position: 8px -116px
}

.gameyeepay-th .option-icon {
    background-position: 11px -168px
}

.gameyeepay-wy .option-icon {
    background-position: 8px -228px
}

.gameyeepay-wm .option-icon {
    background-position: 12px -281px
}

.gameyeepay-zy .option-icon {
    background-position: 10px -395px
}

.gameyeepay-qq .option-icon {
    background-position: 13px -451px
}

.gameyeepay-jy .option-icon {
    background-position: 6px -507px
}

.gameyeepay-tx .option-icon {
    background-position: 8px -877px
}

.gameyeepay-th .option-icon {
    background-position: 9px -174px
}

.sms-yd .option-icon, .mobile-yd .option-icon, .mobileyeepay-yd .option-icon {
    background-position: 3px -561px
}

.sms-lt .option-icon, .mobile-lt .option-icon, .mobileyeepay-lt .option-icon {
    background-position: 7px -655px
}

.sms-dx .option-icon, .mobile-dx .option-icon, .mobileyeepay-dx .option-icon {
    background-position: 9px -608px
}

.choose-list-icon .option-icon.ipay-simple {
    padding-left: 5px;
    font-size: 14px;
    background-image: none
}

.choose-list-icon li.selected.ipay-balance {
    width: auto;
    height: auto;
    line-height: 24px
}

.choose-list-icon .ipay-balance .option-icon {
    display: inline-block;
    width: auto;
    height: auto;
    line-height: 25px;
    font-size: 20px
}

.choose-list-icon li.selected.ipay-balance:after {
    background: 0 0
}

.choose-list-icon li.selected.ipay-balance:hover {
    cursor: default
}

.choose-list-icon .ipay-balance .option-icon {
    background-image: none
}

.qrcode-wrapper {
    position: absolute;
    top: 45px;
    left: 307px;
    _zoom: 1
}

.qrcode-loading {
    background: url(../img/loading.gif) center center no-repeat
}

.qrcode-wrapper h4 {
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    font-family: "Microsoft YaHei"
}

.qrcode-wrapper iframe {
    height: 260px;
    width: 300px
}

.qrcode-wrapper-wechat {
    left: 357px
}

.qrcode-wrapper-wechat iframe {
    width: 240px;
    height: 240px
}

.qrcode-suc {
    width: 260px;
    margin: 0 auto;
    text-align: center;
    height: 250px;
    line-height: 250px;
    border: 1px solid #ccc
}

.qrcode-suc-icon {
    background: url(../img/cashdesk-icon_3cde785.png) -218px -5px no-repeat;
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle
}

.qrcode-suc-desc {
    font-size: 14px;
    font-weight: 700;
    vertical-align: middle
}

/*.qrcode-err {*/
    /*width: 260px;*/
    /*height: 260px;*/
    /*text-align: center;*/
    /*background: url(/static/image/pc/client/qr-err.png) no-repeat*/
/*}*/

/*.qrcode-err-desc {*/
    /*display: inline-block;*/
    /*margin: 40% auto;*/
    /**margin-top: 120px;*/
    /*color: #f60*/
/*}*/

/*.ca-copy {*/
    /*position: fixed;*/
    /**position: absolute;*/
    /*bottom: 0;*/
    /*right: 0;*/
    /*width: 98px;*/
    /*height: 24px;*/
    /*line-height: 24px;*/
    /*-webkit-box-sizing: border-box;*/
    /*-moz-box-sizing: border-box;*/
    /*-ms-box-sizing: border-box;*/
    /*box-sizing: border-box;*/
    /*padding: 0 4px;*/
    /*text-align: right;*/
    /*font-size: 12px;*/
    /*color: #8a8a8a;*/
    /*background: url(/static/image/pc/client/copy.png) no-repeat right bottom*/
/*}*/

.ca-form-group .form-explain {
    background: url(../img/cashdesk-icon_3cde785.png) -545px -898px no-repeat;
    color: #999
}

.ca-form-group .form-explain {
    margin: 5px 0 0 78px;
    font-size: 12px;
    padding-left: 18px
}

.ca-form-group .form-explain .fn-extra-money {
    display: none
}

.ca-form-group .form-explain .num {
    font-family: "Microsoft YaHei";
    font-weight: 700;
    color: #EE4C58;
    font-size: 14px;
    line-height: 12px;
    margin: 0 3px
}

.ca-form-group .ca-input {
    border: #d1d6de 1px solid;
    padding: 2px 5px;
    height: 26px;
    line-height: 26px;
    vertical-align: middle;
    font-size: 14px;
    transition: all .3s linear;
    -webkit-appearance: none
}

.ca-form-group .ca-input:focus {
    outline: 0
}

.ca-form-group .ca-input:-webkit-autofill {
    background: #fff !important
}

.ca-form-group .ca-input::-moz-placeholder {
    color: #484954
}

.ca-form-group .ca-input:-moz-placeholder {
    color: #484954
}

.ca-form-group .ca-input:-webkit-input-placeholder {
    color: #484954
}

.ca-form-group .ca-input:-ms-input-placeholder {
    color: #484954
}

.ca-form-group .ca-acode-img {
    vertical-align: middle;
    display: inline-block;
    height: 30px;
    width: 95px;
    zoom: 1;
    border: 1px solid #d1d6de;
    margin: 0 10px
}

.ca-form-group .ep-text-focus {
}

.ca-form-group .ep-text-wrong {
    background: #fef2f2;
    border: #ff0500 1px solid
}

.ca-form-group .form-checker {
    margin: 5px 0 0 80px;
    display: none
}

.ca-form-group .checker-right {
    display: none
}

.ca-form-group .checker-wrong {
    display: block;
    font-size: 12px;
    padding-left: 18px;
    background: url(../img/cashdesk-icon_3cde785.png) -218px -33px no-repeat
}

.ca-form-group .line-checker {
}

.ca-form-group .line-wrong {
    display: inline-block;
    font-size: 12px;
    padding-left: 18px;
    background: url(../img/cashdesk-icon_3cde785.png) -218px -33px no-repeat
}

.ca-channeltips {
    padding: 0 10px;
    margin-top: 30px;
    font-size: 12px
}

.ca-channeltips h4 {
    border-top: 1px dashed #d1d6de;
    padding-top: 10px;
    font-size: 14px;
    font-weight: 700
}

.ca-channeltips ul li {
    line-height: 24px;
    padding-left: 8px;
    background: url(../img/cashdesk-icon_3cde785.png) -545px -819px no-repeat;
    color: #999
}

.ca-tabs li.disabled {
    position: relative
}

.ca-tabs li.disabled .txt-tip {
    position: absolute;
    font-size: 12px;
    width: 218px;
    line-height: 32px;
    color: #484954;
    left: -65px;
    top: 31px;
    margin-top: 10px;
    padding: 0 6px;
    display: none;
    border: 1px solid #f2c679;
    background: #fffefb;
    z-index: 2000
}

.contract-checkbox {
    line-height: 28px
}

.contract-checkbox input {
    vertical-align: middle
}

.ca-form-contract-tips {
    float: left;
    padding: 5px 15px;
    background: #fdfcea;
    border: 1px solid #f7f1e5
}

.ca-form-contract-tips p {
    line-height: 2
}

.ca-form-contract-tips a {
    color: #21b185
}

.ca-form-contract-tips em {
    color: #ff6c09;
    font-style: normal
}

.contract-auth-sign-ifr {
    display: none;
    width: 100%;
    height: 100%
}

.contract-submit-form {
    position: absolute;
    left: 9999px;
    top: 9999px;
    z-index: -10
}

.contract-dialog {
    display: none;
    position: absolute;
    top: 50px;
    left: 50%;
    width: 300px;
    height: 160px;
    margin-left: -150px;
    background: #fdfcea;
    border: 1px solid #f7f1e5;
    z-index: 999
}

.contract-dialog-header {
    position: relative;
    height: 30px;
    line-height: 30px;
    background: #d1d6de
}

.contract-dialog-header h3 {
    padding: 0 10px;
    font-weight: 700
}

.contract-dialog-header a {
    position: absolute;
    right: 10px;
    top: 0;
    font-weight: 700
}

.contract-dialog-content {
    height: 80px;
    line-height: 80px;
    text-align: center
}

.contract-dialog-footer {
    height: 50px;
    line-height: 50px;
    text-align: center
}

.contract-dialog-footer button {
}

.acode-timer {
    display: inline-block;
    width: 90px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #d5d5d5;
    background: #f1f1f1;
    color: #333;
    vertical-align: middle
}

.acode-timer:hover {
    background: #f8f8f8
}

.acode-timer .acode-send {
    display: inline-block
}

.acode-timer .acode-send-text {
    display: none
}

.acode-timer .acode-resend-text {
    display: none
}

.acode-timer-sending .acode-send {
    display: none
}

.acode-timer-sending .acode-send-text {
    display: inline-block
}

.acode-timer-sending .acode-resend-text {
    display: none
}

.acode-timer-sending:hover {
    background: #f1f1f1
}

.acode-timer-resend .acode-send {
    display: none
}

.acode-timer-resend .acode-send-text {
    display: none
}

.acode-timer-resend .acode-resend-text {
    display: inline-block
}

.acode-timer-resend {
}

.ca-msg-mask {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5)
}

.ca-loading {
    position: fixed;
    z-index: 100;
    top: 45%;
    width: 100%;
    text-align: center
}

.ca-loading .ca-loading-text {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    margin: -24px auto auto;
    padding: 9px 20px;
    min-width: 90px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-clip: padding-box;
    line-height: 1.5em;
    color: #fff;
    background-color: rgba(0, 0, 0, .8)
}

.ca-loading .ca-loading-text .icon-check-error {
    vertical-align: -2px
}

/*.ca-loading-icon {*/
    /*display: block;*/
    /*width: 100%;*/
    /*height: 33px;*/
    /*vertical-align: middle;*/
    /*background: url(/static/image/mobile/loading_icon_dfcd172.png) no-repeat center center;*/
    /*background-size: 25px auto;*/
    /*-webkit-animation: rotate linear 1.5s infinite;*/
    /*animation: rotate linear 1.5s infinite*/
/*}*/

.ca-loading-time {
    display: inline-block;
    min-width: 27px;
    text-align: right
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.sms-subview {
    padding-left: 80px;
    color: #444;
    font-size: 13px
}

/*.ca-result-no {*/
    /*margin: 40px 0 0;*/
    /*background: url(/static/image/pc/iframe/alarm_9242eb3.png) no-repeat left center;*/
    /*padding-left: 16px*/
/*}*/

.ca-result-suc, .ca-result-err {
    margin: 40px 0 0;
    font-size: 18px;
    padding-left: 30px
}

/*.ca-result-suc {*/
    /*margin-left: 10px;*/
    /*background: url(/static/image/pc/iframe/suc_4b52b6c.png) no-repeat left center*/
/*}*/

/*.ca-result-err {*/
    /*background: url(/static/image/pc/iframe/err_8eb88f9.png) no-repeat left center*/
/*}*/

.ca-result-desc {
    padding: 10px 0;
    color: #444;
    font-size: 13px
}